<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    package="com.cobratopup.app">-->

<!--    <application-->
<!--        android:label="@string/app_name"-->
<!--        android:icon="@mipmap/ic_launcher">-->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        &lt;!&ndash; Firebase / Google OAuth Redirect &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.auth.api.signin.REVERSE_CLIENT_ID"-->
<!--            android:value="${appAuthRedirectScheme}" />-->
<!--    </application>-->

<!--</manifest>-->




<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<!--    package="com.evotopup.app">-->

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Evo TopUp">

        <!-- Firebase / Google OAuth Redirect (Only for this flavor) -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.REVERSE_CLIENT_ID"
            android:value="${appAuthRedirectScheme}" />

    </application>

</manifest>

